@import "tailwindcss";

@theme {
  --color-primaryColor: #008ECC;
  --color-background1Color: #F5F5F5;
  --color-background3Color: #F3F9FB;
  --color-textColor: #666666;
  --color-HEadingColor: #222222;
  --color-borderColor: #EDEDED;
  --color-sucessColor: #249B3E;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
